@page "/addAuthor"
@using AuthorBlazor.Service
@using AuthorBlazor.Model
@inject IAuthorService _authorService
@inject NavigationManager NavigationManager
<h3>AddAuthor</h3>

<section>
    <h2> Add author</h2>
    <EditForm Model="@_newAuthor" OnValidSubmit="@AddNewAuthorAsync">
        <div class="form-group">
            First Name: <br/>
            <InputText @bind-Value="_newAuthor.FirstName"/>

        </div>

        <div class="form-group">
            Last Name : <br/>
            <InputText @bind-Value="_newAuthor.LastName"/>
        </div>

        <DataAnnotationsValidator/>
        <ValidationSummary/>
        
        <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Create</button>
        </p>
    </EditForm>
</section>


@code {
    private Author _newAuthor = new Author();

    private async Task AddNewAuthorAsync()
    {
        await _authorService.SaveAuthorAsync(_newAuthor);
        NavigationManager.NavigateTo("/authors");
    }

}